/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* General */


*,
* ::before,
* ::after {
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Background Image */

body {
    background:  url(../assets/bg-intro-desktop.png), no-repeat, linear-gradient(  #FF807A, #FF807A );
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}


/* content Part */

.content {
    padding: 80px 0;
}
.col {
    flex: 0 1 45%;
}
h1 {
    font-size: 40px;
    color: white;
    font-weight: 800;
    padding-bottom: 20px 0;
}
.col1 p {
    font-size: 12px;
    color: whitesmoke;
    line-height: 1.4;
    padding: 20px 0;
}
.col2 a, button {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 35px;
    color: white;
    font-size: 11px;
    font-weight: 800;
    border-radius: 6px;
    background-color: #5D54A3;
    word-spacing: 3px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.26);
}
.col2 a span{
    color: rgb(197, 192, 192);
    font-weight: 600;
}
form {
    background-color: white;
    padding: 30px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.26);
}
.form-control {
    display: block;
    width: 100%;
    border: none;
    padding: 12px;
    border: 2px solid rgb(241, 236, 236);
    outline: 0;
    color: grey;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 11px;
    font-weight: 600;

}
.form-control:focus{
    border-color: #5D54A3;
}
button {
    border: none;
    font-weight: 300;
    background-color: #37CC8A;
    box-shadow: 0px 3px 3px #078049;
    margin-top: 20px;
}
form p {
    font-size: 8px;
    color: rgb(204, 197, 197);
    font-weight: 800;
    margin: 10px 20px;
}
form  span {
    font-size: 8px;
    color: rgb(255, 120,120);
}
